:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header img {
    width 150px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: var(--accent1-color);
    front-weight: bold;
}

.hero {
    position: relative;
    background-image: url("https://i.imgur.com/rmiLop5.jpeg");
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero h1 {
    background-color: var(heading-font);
    color: white;
    text-align;
    center;
    padding: 15px;
    margin-top: 20px
}

.hero article {
    background-color: var(--accent1-color);
    color: #fff;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;

}

.hero article img {
    width: 150px;
    height: auto;
    margin-left: 20px;
    order: 2;
}

h2 {
    background-color: var(--accent1-color);
    color: #fff;
    position: absolute;
    text-align: center;
    padding: 10px;
    margin: 20px 0;

}

section p {
    padding: 0 20px;
    line-height: 1.6;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #ccc;
    margin-top: 40px;
}

.socialmedia a img {
    width: 30px;
    margin-left: 10px;
}