:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #264653;
}

header img {
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    gap: 0;
}

nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

header,
main,
footer {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    padding: 8px;
}

.socialmedia {
    display: flex;
    gap: 10px;
    margin: 0;
}

.socialmedia img {
    width: 30px;
    height: auto;
    boader: 1px solid #000;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 30px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

h2 {
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;
}

main section {
    width: 100%;
    margin-bottom: 20px;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article {
    position: absolute;
    top: 300px;
    width: 100%;
    padding: 16px;
    text-align: left;
    background-color: var(--accent2-color);
    color: #fff;
}

.hero p {
    color: #000;
}

.history-grid {
    display: flex;
    align-items: center;
    gap: 20px;
}

.history-grid p {
    flex: 1;
}

.history-grid img {
    width: 200px;
    height: auto;
}

.adventure-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
}

.adventure-grid figure {
    text-align: center;
    margin: 0;
}

.adventure-grid figcaption {
    margin-top: 8px;
    font-size: 0.9rem;
}

.adventure-grid img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #264653;
    margin-top: 30px;
}