body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
footer {
    background-color: darkgrey;
    color: white;
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 1rem 0;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: auto;
    box-shadow: 0 10px 30px
}

section {
    background-color: lightgrey;
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
    padding: 20px;
    border-top: 2px solid darkslategrey;
    box-shadow: 2px 2px 10px
}

h1 {
    text-align: center;
    font-size: 2rem;
}

h2 {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}

ul {
    list-style-type: disc;
    padding-left: 20px
}